<% if notice %>
  <div class="relative flex justify-between px-3 py-3 mb-4 border rounded bg-teal-200 border-teal-300 text-teal-800 m-1" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="relative justify-between flex px-3 py-3 mb-4 border rounded bg-teal-200 border-teal-300 text-teal-800 m-1" role="alert">
    <%= alert %>
  </div>
<% end %>
