<div class="bg-[url('/images/forest-road-above-2000px.jpg')] bg-no-repeat bg-cover bg-center text-white h-screen">
  <div class="container mx-auto px-5 flex flex-col justify-center h-full">
    <div class="mx-auto">
    <h1 class="font-bold text-4xl text-center my-10">The Travel Planner</h1>
    <div class="flex justify-center">
      <%= link_to "ENTER", planner_path %>
    </div>
    </div>
  </div>
</div>
