<div class="h-screen flex">
  <div class="flex flex-col h-full px-4 bg-gray-200 text-4xl text-center">
    <p>L</p>
    <p>E</p>
    <p>G</p>
    <p>S</p>
  </div>
  <div class="flex flex-col bg-gray-100 px-4 text-4xl text-center">
    <p>D</p>
    <p>E</p>
    <p>S</p>
    <p>T</p>
    <p>I</p>
    <p>N</p>
    <p>A</p>
    <p>T</p>
    <p>I</p>
    <p>O</p>
    <p>N</p>
    <p>S</p>
  </div>
  <div>
    <p>Maps & destination details</p>
    <%= link_to "Cities", cities_path %>
  </div>
</div>
